altgraph==0.17.5
annotated-types==0.7.0
astroid==4.0.4
colorama==0.4.6
dill==0.4.1
isort==7.0.0
lance-namespace==0.4.5
lance-namespace-urllib3-client==0.4.5
librt==0.8.0
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.19.1
mypy_extensions==1.1.0
numpy==2.4.2
packaging==26.0
pathspec==1.0.4
pefile==2024.8.26
platformdirs==4.9.1
pyarrow==23.0.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.0
pylance==2.0.1
pylint==4.0.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
rich==14.3.2
ruff==0.15.1
setuptools==82.0.0
six==1.17.0
tomlkit==0.14.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
